*.jar
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!gradlew
!gradlew.bat

*.log
.idea/
*.iml
.vscode/
.DS_Store
build/
.gradle/
.kotlin/
test-results/
jacoco/
target/
*.war
*.ear
*.env
*.swp
*.swo
*~